Practica 4/exercici7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="camiseta">
        <xs:all>
            <xs:element name="talla" type="xs:string"></xs:element>
            <xs:element name="color" type="xs:string"></xs:element>
            <xs:element name="preu" type="xs:integer"></xs:element>          
        </xs:all>
    </xs:complexType>
</xs:schema>