Practica 4/exercici5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="capell">
        <xs:sequence>
            <xs:element name="color" type="xs:string"></xs:element>
            <xs:element name="model" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>